In [11]:
# PART 1 
#exercise 1
n1 = int(input("Enter the first number: "))
n2 = int(input("Enter the second number: "))

Enter the first number:  10
Enter the second number:  3

In [25]:
addition = n1 + n2
subtraction = n1 - n2
multiplication = n1 * n2
division = n1 / n2 
modulus = n1 % n2 
exponentiation = n1 ** n2
floor_division = n1 // n2 


print(f"Addition:{addition}")
print(f"Subtraction:{subtraction}")   
print(f"Multiplication:{multiplication}")
print(f"Divison:{division}")
print(f"Modulus:{modulus}")
print(f"exponentiation:{exponentiation}")
print(f"Floor Division:{floor_division}")

Addition:13
Subtraction:7
Multiplication:30
Divison:3.3333333333333335
Modulus:1
exponentiation:1000
Floor Division:3

In [27]:
#exercise 2
n1 = int(input("Enter the first number: "))
n2 = int(input("Enter the second number: "))

Enter the first number:  10
Enter the second number:  3

In [30]:
if n1 > n2:
        print(f"{n1} is greater than {n2}.")
elif n1 == n2:
        print(f"{n1} is equal to {n2}.")
else:
        print(f"{n1} is less than or equal to {n2}.")

10 is greater than 3.

In [31]:
#exercise 3
b1 = input("Enter the first boolean value (True/False): ").strip().lower() == 'true'
b2 = input("Enter the second boolean value (True/False): ").strip().lower() == 'true'
b3 = input("Enter the third boolean value (True/False): ").strip().lower() == 'true'

Enter the first boolean value (True/False):  true
Enter the second boolean value (True/False):  true
Enter the third boolean value (True/False):  false

In [36]:
    And= b1 and b2 and b3
    Or = b1 or b2 or b3
    not_b1 = not b1
    not_b2 = not b2
    not_b3 = not b3

 
    print(f"AND result: {And}")
    print(f"OR result:  {Or}")
    print(f"NOT result for the first boolean: {not_b1}")
    print(f"NOT result for the second boolean: {not_b2}")
    print(f"NOT result for the third boolean: {not_b3}")

AND result: False
OR result:  True
NOT result for the first boolean: False
NOT result for the second boolean: False
NOT result for the third boolean: True

In [45]:
#PART 2
#exercise 4
x = input("Please enter a string: ")

Please enter a string:  alliance

In [49]:
length = len(x)
first_character = x[0] 
last_character = x[-1] 
reversed_string = x[::-1]
uppercase = x.upper()
lowercase= x.lower()


print(f"Length of the string: {length}")
print(f"First character: {first_character}")
print(f"Last character: {last_character}")
print(f"Reversed string: {reversed_string}")
print(f"Uppercase: {uppercase}")
print(f"Lowercase: {lowercase}")

Length of the string: 8
First character: a
Last character: e
Reversed string: ecnailla
Uppercase: ALLIANCE
Lowercase: alliance

In [2]:
#exercise 5

name = input("What is your name? ")
age = input("How old are you? ")

What is your name?  vishnu
How old are you?  21

In [3]:
print(f"Hello {name}, you are {age} years old.")

Hello vishnu, you are 21 years old.

In [53]:
#exercise 6
s= input("Please enter a sentence: ")
w= input("Enter a word to search for: ")

Please enter a sentence:  welcome to one and all present here .
Enter a word to search for:  one

In [57]:
position = s.find(w)
if position != -1:
        print(f"The word '{w}' is at index {position}.")
else:
        print(f"The word '{w}' does not exist .")

The word 'one' is at index 11.

In [18]:
#PART 3
#exercise 7
numbers = []
for i in range(5):
    num = float(input(f"Enter number {i + 1}: "))
    numbers.append(num)

Enter number 1:  5
Enter number 2:  5
Enter number 3:  8
Enter number 4:  6
Enter number 5:  9

In [24]:
t_sum = sum(numbers)
print("Sum of all numbers:", t_sum)

l_number = max(numbers)
s_number = min(numbers)

print("Largest number:", l_number)
print("Smallest number:", s_number)

Sum of all numbers: 33.0
Largest number: 9.0
Smallest number: 5.0

In [21]:
#exercise 8
fruits = ["Mango", "Strawberries", "Pineapple", "Blueberries", "Kiwi"]

In [2]:
fruits.append("apple")

In [3]:
fruits.pop(1)

'Strawberries'

In [4]:
print(fruits)

['Mango', 'Pineapple', 'Blueberries', 'Kiwi', 'apple']

In [13]:
#exercise 9
x = input("Please enter 5 numbers : ")

Please enter 5 numbers :  58976

In [7]:
x_list = [float(num) for num in x.split()]

In [14]:
ascending_order = sorted(x)
print("Ascending order:", ascending_order)

Ascending order: ['5', '6', '7', '8', '9']

In [15]:
descending_order = sorted(x, reverse=True)
print("Descending order:", descending_order)

Descending order: ['9', '8', '7', '6', '5']

In [16]:
#exercise 10
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [17]:
print("First 5 elements:", a[:5])

print("Last 5 elements:", a[-5:])

print("Elements from index 2 to 7:", a[2:8])

First 5 elements: [1, 2, 3, 4, 5]
Last 5 elements: [6, 7, 8, 9, 10]
Elements from index 2 to 7: [3, 4, 5, 6, 7, 8]

In [27]:
#Bonus Challenge
#Exercise 11: Nested List
students = []
for _ in range(3):
    name = input("Enter the student's name: ")
    scores = []
    for i in range(3):
        score = float(input(f"Enter score for subject {i + 1}: "))
        scores.append(score)
    students.append([name, scores])

Enter the student's name:  rahul
Enter score for subject 1:  75
Enter score for subject 2:  58
Enter score for subject 3:  59
Enter the student's name:  farsaan
Enter score for subject 1:  59
Enter score for subject 2:  86
Enter score for subject 3:  95
Enter the student's name:  suhail
Enter score for subject 1:  75
Enter score for subject 2:  86
Enter score for subject 3:  96

In [28]:
for student in students:
    name, scores = student
    average_score = sum(scores) / len(scores)
    print(f"{name}'s average score: {average_score:.2f}")

rahul's average score: 64.00
farsaan's average score: 80.00
suhail's average score: 85.67